.dart_tool/
.packages
.pub/
build/
pubspec.lock

.DS_Store
*.iml

android/.gradle/
android/local.properties
android/**/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
